# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
/ios
/android
*.orig.*

# env / secrets
.env
.env.*.local
.env.local

# supabase local
supabase/.branches
supabase/.temp

# testing / coverage
coverage/

# misc
.DS_Store
*.log
npm-debug.*
yarn-error.*
